<div class="header container">
    <nav class="text-center">
        <a routerLink="/home" routerLinkActive="active" class="btn btn-info">Home</a>
        <a routerLink="/others" routerLinkActive="active" class="btn btn-info">Others</a>
    </nav>
    <br>
</div>

<h1 class="text-center">{{title}}</h1>

<router-outlet></router-outlet>