<div id="home" class="">
    <!-- create -->
    <div class="panel panel-primary" *ngIf=showAddMenu>
        <div class="panel-heading text-capitalize">
            <div class="row">
                <div class="col-xs-8"><h4>add new account</h4></div>
                <div class="col-xs-4 text-right">
                    <a *ngIf=showAddMenu type="button" class=" btn btn btn-danger" (click)="closeAddMenu()">Close</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" #values="ngForm" (ngSubmit)="addAccount(varAddAccount); closeAddMenu()">
                    <div class="form-group">
                        <label class="control-label text-capitalize col-xs-4 col-sm-3" for="name">
                            <span class="pull-left">name</span> <span class="pull-right hidden-xs">:</span>
                        </label>
                        <div class="col-sm-9"><input class="form-control" type="text" [(ngModel)]="varAddAccount.name" #name='ngModel' name="name"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label text-capitalize col-xs-4 col-sm-3" for="balance">
                            <span class="pull-left">balance</span> <span class="pull-right hidden-xs">:</span>
                        </label>
                        <div class="col-sm-9"><input  class="form-control" type="number" [(ngModel)]="varAddAccount.balance" #balance='ngModel' name="balance"></div>
                    </div>
                    <div class="text-center">
                        <input class="btn btn-info" type="submit" id="submit" value="Add Account"/>
                    </div>
                </form>
        </div>
    </div>

    <!-- edit -->
    <div class="panel panel-primary" *ngIf=showEditMenu>
        <div class="panel-heading text-capitalize">
            <div class="row">
                <div class="col-xs-8"><h4>edit account</h4></div>
                <div class="col-xs-4 text-right">
                    <a type="button" class=" btn btn btn-danger" (click)="closeEditMenu();">Close</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" #values="ngForm" (ngSubmit)="saveEditAccount(varEditAccount); closeEditMenu();">
                    <div class="form-group">
                        <label class="control-label text-capitalize col-xs-4 col-sm-3" for="name">
                            <span class="pull-left">name</span> <span class="pull-right hidden-xs">:</span>
                        </label>
                        <div class="col-sm-9"><input class="form-control" type="text" [(ngModel)]="varEditAccount.name" #name='ngModel' name="name"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label text-capitalize col-xs-4 col-sm-3" for="balance">
                            <span class="pull-left">balance</span> <span class="pull-right hidden-xs">:</span>
                        </label>
                        <div class="col-sm-9"><input  class="form-control" type="number" [(ngModel)]="varEditAccount.balance" #balance='ngModel' name="balance"></div>
                    </div>
                    <div class="text-center">
                        <input class="btn btn-info" type="submit" cd id="submit" value="Save Changes"/>
                    </div>
                </form>
        </div>
    </div>

    <!-- read -->
    <div class="panel panel-primary">
        <div class="panel-heading text-capitalize">
            <div class="row">
                <div class="col-xs-8"><h4>account list</h4></div>
                <div class="col-xs-4 text-right">
                    <a *ngIf=!showAddMenu type="button" class=" btn btn btn-success" (click)="openAddMenu()">Add Account</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <div class="list-group-item well well-sm text-capitalize" *ngFor="let account of (accounts | async)">
                    <div class="">
                            {{account.name}} : ${{account.balance}} <br>
                    </div>
                    <div class="text-right">
                            <a type="button" class="btn btn-sm btn-danger" (click)="deleteAccount(account)">delete</a>
                            <a type="button" class="btn btn-sm btn-info" (click)="openEditMenu(); choseEditAccount(account)" >edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    


</div>
