body{
    background-color: #f0f0f0;
    padding: 10px 0;
}

.border{
    border: 1px solid black;
}

.bg-lightblue{
    background-color: lightblue;
}

.w100{ width: 100%; }

@media (min-width: 768px) and (orientation: landscape){
    body{
        margin: auto;
        max-width: 100vh
    }
    body * {max-width: 100vh}
}